@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
/* ------------
  common css
-------------css */
body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*--------------------
 header part style start 
 ----------------------*/
 .container{
    background-color:  #2D25A0;
 }

 .copa-america {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px ;
    padding-left: 50px;
    padding-right: 50px;
 }

 
 .copa-america-info {
    width: 50%;
    padding: 5%;
  }

  .copa-title {
      font-size: 64px;
      color: #FFFFFF;
      margin-bottom: 27px;
  }

  .copa-america-info a {
    text-decoration: none;
    background-image: linear-gradient(#a62fff, #28d7ff);
    color: white;
    padding: 10px 24px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500px;
    border-radius: 10px;
    
  }

  .copa-america-info a:hover{
    background-color: whitesmoke;
    
    color: rgb(0, 255, 213);
  }
  .copa-america-banner img{
    /* position: absolute;  */
    width: 556px;
    height: 438px;
    margin-top: 153px;
    margin-right: 143px;
    margin: 86px;
}
.copa-america-banner img{
    width: 556px;
    height: 438px;
    transition: transform 3s ease-out;

}
.copa-america-banner img:hover{

    transform :scale(1.1);
    cursor: pointer;
}

 /*--------------------
 header part style end 
 ----------------------*/



 
.menu-button{
   
}
.fas{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 20px;
    
}
/*-------------------
  middle-section
----------------css*/
.middle-section-container{
    /* width: 975px; */
    display: flex;
    padding: 15px;
    margin-top: 70px;
    border-radius: 5px;
    background-color: #FFFFFF;
    justify-content: center;
    text-align: center;
   
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    
    
}
.player {
    width: 330px;
    height: 474px;
    margin-top: 27px;
    padding: 15px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-list img{
    width: 300px;
    height: 256px;
    
}
.player-details{
    
   
}
 /*--------------------
 extra part-2 style start 
 -------------------- */
	
 .organizations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
 }
 
 .organization {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 40px gray;
 }
 
 .organization-image img {
    width: 100%;
    height: 256px;
 }
 
 .organization-name {
    
    font-weight: bold;
    font-size: 28px;
    color: #18191F;
    margin-top: 16px;
    margin-bottom: 10px;
 }
 
 .organization-info {
    font-size: 16px;
    color: #6C6C6C;
    margin-top: 0px;
    margin-bottom: 33px;
 }
 
 /*--------------------
  extra part-2 style end 
  -------------------- */
 
/*--------------------
      form section 
----------------------*/

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* contact section style */
  .form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  .banner{
      float: right;
  }
  
  .banner img{
      border-radius: 10px;
  }
  
  .row{
      display: flex;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    .banner img{
        height: 500px;
    }
  }


 /*--------------------
 footer part style start 
 ----------------------*/
 footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
 }
 .about-football {
   margin-bottom: 75px;
 }

 .football-logo img{
    width: 483.87px;
    height: 110px;
    margin-bottom: 20px;
 }

 .contact {
    display: flex;
    align-items: center;
    flex-direction: column;
 }

 .contact a {
     text-decoration: none;
     font-size: 32px;
     margin-right: 14px;
     color: gray;
     margin:  0px 14p;
 }


 .copyright-text {
    color: #000000;
    margin-top: 20px;
 }

/*--------------------
 footer part style ends 
 ----------------------*/


/* -----------------
    Media Quaries 
--------------------*/


 /* -----------------------
 media responsive style starts
 ------------------------*/


/* smart phone */

@media only screen and (max-width: 688px ) {
  
    container {
      width: 100%;
    
    }
   .copa-america-2021, .players, .copa-optional, .club-album, .organizations, .about-football{
   
    grid-template-columns: repeat(1, 1fr);
   }
   .copa-america, .copa-highlight {
     flex-direction: column;
    }
 
    .copa-title, .highlight-title, .club-heading {
       font-size: 36px;
    }
    .copa-america-info a {
       text-decoration: none;
       background-color: #E02C6D;
       padding: 10px 24px;
       color: #FFFFFF;
       font-size: 16px;
       font-weight: 500px;
      
     }
 
     .live-watch{
       width: 168px;
       height: 44px;
     }
     .copa-america-banner img, .highlight-banner img, .organization-image img{
 
       width: 329px;
       height: 259.17px;
     
     }
     .copa-optional{
        margin-top: 60px;
     }
 .football-logo img{
    width: 350px;
    height: 150px;
 }
 
 .about-football {
    margin-bottom: 150px;
 }
     
  }
  
   
  /* tablet */
  
  @media only screen and (min-width: 689px) and (max-width: 992px) {
    
    container {
       width: 100%;
     
     }
    .copa-america-2021, .players, .copa-optional,{
    
     grid-template-columns: repeat(2, 1fr);
    }
   
  
     .copa-title, .highlight-title, .club-heading {
        font-size: 40px;
     }
     .copa-america-info a {
        text-decoration: none;
        background-color: #E02C6D;
        padding: 10px 24px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500px;
       
      }
  
      .live-watch{
        width: 168px;
        height: 44px;
      }
      .copa-america-banner img, .highlight-banner img {
  
        width: 329px;
        height: 259.17px;     
      }
 
      .copa-optional{
         margin-top: 60px;
      }
   }
   
  
  /* laptop and other device*/
  
  @media only screen and (min-width:1001){
    
    container {
       width: 100%;
     
     }
     .copa-america-2021, .players, .club-album, .organizations, .about-football{
    
     grid-template-columns: repeat(3, 1fr);
    }
    
   }
   
  
  /* -----------------------
  media responsive style ends
  -------------*/